body {
    background-color: black;
    
}

/* PRESENTACION SPA */

.presentacion {
    
    margin-top: 100px;
}

.nombre-presentacion {
    font-size: 100px;
    margin-left: 100px;
    text-decoration: none;
    font-weight: bold;
    text-shadow: 2px;
}

/* nombre blanco */

.nombre-blanco-hello {
    color: white;
    animation-duration: 1.5s;
    animation-name: slidein;
}
@keyframes slidein {
    from { font-size: 0;}
    to { font-size: 100px;

    }}
.nombre-blanco-hello:hover{
    font-size: 0;
    text-decoration: none;
}
.nombre-blanco-hello:hover::after{
    content: attr(data-hover);
    font-size: 100px;
    color: white;
    text-decoration: none;
    animation-duration: 1s;
    animation-name: mismalinea;
    
}

/* nombre rojo */

.nombre-rojo-iam{
    color: rgb(209, 21, 21);
    animation-duration: 1.5s;
    animation-name: slidein;
}
@keyframes slidein {
    from { font-size: 0;}
    to { font-size: 100px;

    }}
.nombre-rojo-iam:hover{
    font-size: 0;
    text-decoration: none;
}
.nombre-rojo-iam:hover::after{
    content: attr(data-hover);
    font-size: 100px;
    color: rgb(209, 21, 21);
    text-decoration: none;
    animation-duration: 1s;
    animation-name: mismalinea;
    
}

.nombre-rojo-gaspar{
    color: rgb(209, 21, 21);
    animation-duration: 1.5s;
    animation-name: slidein;
}
@keyframes slidein {
    from { font-size: 0;}
    to { font-size: 100px;

    }}
.nombre-rojo-gaspar:hover{
    font-size: 0;
    text-decoration: none;
}
.nombre-rojo-gaspar:hover::after{
    content: attr(data-hover);
    font-size: 100px;
    color: rgb(209, 21, 21);
    text-decoration: none;
    
    animation-duration: 1s;
    animation-name: mismalinea;
}
@keyframes mismalinea{
    from {margin-left: 0;}
    to {margin-left: 35px;}
}

.imagen-gaspar{
    width: 370px;
}

/* PAGINA ABOUT */

h4.inicio{
    color: white;
    position: fixed;
    display: block;
    top: 15%;
    left: 80%;
    font-size: 20px;
    text-decoration: none;
    font-weight: bolder;
    
}
h4.inicio:hover{
    
    text-decoration: none;
    font-size: 0;

}
h4.inicio:hover::after{
    font-size: 20px;
    text-decoration: none;
    color: white;
    position: fixed;
    display: block;
    top: 15%;

    content: attr(data-hover);
    animation-duration: 2s;
    animation-name: agregarhover;

}
@keyframes agregarhover{
    from {left: 80%;}
    to {left: 75%;}
}

.descripcion{
    color: white;
    font-size: 95px;
    font-weight: bold;
    justify-content: center;
    margin-top: 200px;
    margin-left: 70px;
    
}

.foto-entera{
   
    margin-top: 160px;
    margin-left: 15%;
}

.About{
    
    color: white;
    text-align: justify;
    font-size: 19px;
    margin-top: 50px;
    margin-left: 250px;
    margin-right: 200px;
   
}

.resume{
    color: rgb(209, 21, 21); 
    padding-bottom: 200px;
    font-size: 25px;
    
}
.resume:hover{
    animation-duration: 1s;
    animation-name: mismalinea;
    color: rgb(209, 21, 21) ;
    text-decoration: none;
}

/*CONCTACT.html*/

.contact-inicio{
    color: white;
    font-weight: bold;
    margin-top: 200px;
    margin-left: 20%;
    display: block;
}
.titulo-contact{
    font-size: 100px;
}
.contact-tit-desc{
    color: white;
    font-size: 40px;
    margin-top: 160px;
    margin-left: 25%;
}


.Contact-descr{
    color: white;
    font-size: 40px;
    margin-top: 160px;
    margin-left: 25%;
}
#parrafo-contact{
    margin-top: 45px;
    margin-bottom: 45px;
}

.contactos-comun{
    margin-top: 30px;
    font-size: 22px;
    margin-left: 235px;
    text-decoration: none;
}

.mail{
   
    color: rgb(209, 21, 21) ;
}

.mail:hover{
    font-size: 0;
    text-decoration: none;
}
.mail:hover::after{
    content: attr(data-hover);
    font-size: 22px;
    color: rgb(209, 21, 21);
    text-decoration: none;
    animation-duration: 2s;
    animation-name: contacto-mail;  
} 
@keyframes contacto-mail {
    from {margin-left: 235px;}
    to {margin-left: 245px;}
}